PORT=3000
NODE_ENV="production"
DATABASE_URL="file:./database.db"
CSRF_SECRET="HtX337mMDWr6Z8m8zmJNuLCOGlD9xKh0mB/z8HoG5Ljm9AipjnNu1dIbTlX6ik3fdpWwxaeoH3C3K1KkDXQVJbXH2BpM4XZkYwJ3ZN0NR7v73jP22qwMcKdrX5k+vSsgEMjcrJrzuG1L+zeaafQ+QKNsBSo/z0cI2zXfa9td6D5tgULlCczaWmHrkRGFUrKfsVOV7Q4iSvo/ChIoYXX9DaZ+5wJ7wOXai5+80Grkf5sXIT0iQU7K67SRNzApER6wdtMCpMe1Uax8rhs9wjh3E3r498Ai5upH9PXAbDprIeWHLv/5MyjUUALorpTH6SgKO636FRnmyAceGGFDRN7piA=="
JWT_SECRET_KEY="HtX337mMDWr6Z8m8zmJNuLCOGlD9xKh0mB/z8HoG5Ljm9AipjnNu1dIbTlX6ik3fdpWwxaeoH3C3K1KkDXQVJbXH2BpM4XZkYwJ3ZN0NR7v73jP22qwMcKdrX5k+vSsgEMjcrJrzuG1L+zeaafQ+QKNsBSo/z0cI2zXfa9td6D5tgULlCczaWmHrkRGFUrKfsVOV7Q4iSvo/ChIoYXX9DaZ+5wJ7wOXai5+80Grkf5sXIT0iQU7K67SRNzApER6wdtMCpMe1Uax8rhs9wjh3E3r498Ai5upH9PXAbDprIeWHLv/5MyjUUALorpTH6SgKO636FRnmyAceGGFDRN7piA=="
JWT_SECRET_REFRESH="HtX337mMDWr6Z8m8zmJNuLCOGlD9xKh0mB/z8HoG5Ljm9AipjnNu1dIbTlX6ik3fdpWwxaeoH3C3K1KkDXQVJbXH2BpM4XZkYwJ3ZN0NR7v73jP22qwMcKdrX5k+vSsgEMjcrJrzuG1L+zeaafQ+QKNsBSo/z0cI2zXfa9td6D5tgULlCczaWmHrkRGFUrKfsVOV7Q4iSvo/ChIoYXX9DaZ+5wJ7wOXai5+80Grkf5sXIT0iQU7K67SRNzApER6wdtMCpMe1Uax8rhs9wjh3E3r498Ai5upH9PXAbDprIeWHLv/5MyjUUALorpTH6SgKO636FRnmyAceGGFDRN7piA=="
