PORT=3000
NODE_ENV="production"
DATABASE_URL="file:./database.db"
CSRF_SECRET="mdmF8IsDXx87EYlEqbPzOxhxHX0+6mEsOW0hVGDH1kOX9SkPCN4WSEvJGLUS9wr80eO6kK8gqU4Aoe7sz/QJhw5nI4gRJ1vbJsuqDmWra+2YRdQgHz+4ce097Wez0xLMtr5icNsYPMsMZ0yA5kJ/BZePjseSfcc5pX1pPZAvj+uV/LWFvvp2EcMqZKWpX+D3hH51VsQsmG1M7zjAlPBMaNIsI0gUFpoNwG/4fGk58dtYA8hi+VKHFZRcXrP6qxLf6BRS1LGcCFqC2b+bSwImqHlXFWwZFNrdSZLelIDzi+VYfIAxejsRRaB5cXRY0YHhrIvz8r8nc6ExSTjyQ/aG7w=="
JWT_SECRET_KEY="mdmF8IsDXx87EYlEqbPzOxhxHX0+6mEsOW0hVGDH1kOX9SkPCN4WSEvJGLUS9wr80eO6kK8gqU4Aoe7sz/QJhw5nI4gRJ1vbJsuqDmWra+2YRdQgHz+4ce097Wez0xLMtr5icNsYPMsMZ0yA5kJ/BZePjseSfcc5pX1pPZAvj+uV/LWFvvp2EcMqZKWpX+D3hH51VsQsmG1M7zjAlPBMaNIsI0gUFpoNwG/4fGk58dtYA8hi+VKHFZRcXrP6qxLf6BRS1LGcCFqC2b+bSwImqHlXFWwZFNrdSZLelIDzi+VYfIAxejsRRaB5cXRY0YHhrIvz8r8nc6ExSTjyQ/aG7w=="
JWT_SECRET_REFRESH="mdmF8IsDXx87EYlEqbPzOxhxHX0+6mEsOW0hVGDH1kOX9SkPCN4WSEvJGLUS9wr80eO6kK8gqU4Aoe7sz/QJhw5nI4gRJ1vbJsuqDmWra+2YRdQgHz+4ce097Wez0xLMtr5icNsYPMsMZ0yA5kJ/BZePjseSfcc5pX1pPZAvj+uV/LWFvvp2EcMqZKWpX+D3hH51VsQsmG1M7zjAlPBMaNIsI0gUFpoNwG/4fGk58dtYA8hi+VKHFZRcXrP6qxLf6BRS1LGcCFqC2b+bSwImqHlXFWwZFNrdSZLelIDzi+VYfIAxejsRRaB5cXRY0YHhrIvz8r8nc6ExSTjyQ/aG7w=="
