PORT=80
NODE_ENV="production"
DATABASE_URL="file:./database.db"
CSRF_SECRET="g4qfhQzLRwTZqUHnz7f3J+IEMK/qaC1nkvVs/imw5q5mfRXN8vErVBBVY+jEL6YR5+wdMXzVATfK8mUfCi1iFLU0nuisGlMkjeQ7w3c4oB37ry/WDZn01FFZaTM/cu7waIDLgI2MTS49FFIHFkO2c+xkqWiC9FhirN8NYxUDCgzH5jQ/wtHluOaWX/gcPC+eZ1Nevovik8Dt76ahsyQ0/+hxb7g5ACkzZBy92Q7OP33bBiJXjPAuU2ii/Vedop0W7X2kMUi4bhCFhbjOeCKIrHkwTONm71lwACTtZm24PQFNLqwqiUQOBUmhbh6tupntJPf+mDlNV0SAucrEsx9bgg=="
JWT_SECRET_KEY="g4qfhQzLRwTZqUHnz7f3J+IEMK/qaC1nkvVs/imw5q5mfRXN8vErVBBVY+jEL6YR5+wdMXzVATfK8mUfCi1iFLU0nuisGlMkjeQ7w3c4oB37ry/WDZn01FFZaTM/cu7waIDLgI2MTS49FFIHFkO2c+xkqWiC9FhirN8NYxUDCgzH5jQ/wtHluOaWX/gcPC+eZ1Nevovik8Dt76ahsyQ0/+hxb7g5ACkzZBy92Q7OP33bBiJXjPAuU2ii/Vedop0W7X2kMUi4bhCFhbjOeCKIrHkwTONm71lwACTtZm24PQFNLqwqiUQOBUmhbh6tupntJPf+mDlNV0SAucrEsx9bgg=="
JWT_SECRET_REFRESH="g4qfhQzLRwTZqUHnz7f3J+IEMK/qaC1nkvVs/imw5q5mfRXN8vErVBBVY+jEL6YR5+wdMXzVATfK8mUfCi1iFLU0nuisGlMkjeQ7w3c4oB37ry/WDZn01FFZaTM/cu7waIDLgI2MTS49FFIHFkO2c+xkqWiC9FhirN8NYxUDCgzH5jQ/wtHluOaWX/gcPC+eZ1Nevovik8Dt76ahsyQ0/+hxb7g5ACkzZBy92Q7OP33bBiJXjPAuU2ii/Vedop0W7X2kMUi4bhCFhbjOeCKIrHkwTONm71lwACTtZm24PQFNLqwqiUQOBUmhbh6tupntJPf+mDlNV0SAucrEsx9bgg=="
